.ant-layout-header {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.layout__left-header {
  display: flex;
  align-items: center;
}

.layout__right-header {
  display: flex;
  align-items: center;
}

.ant-menu {
  background-color: white;
  height: 100%;
}

.ant-menu-item {
  width: 120px;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
}

.ant-menu-item:not(:nth-child(3)) {
  border-right: 1px solid rgba(180, 180, 180, 0.2);
}

.ant-menu-title-content {
  color: black !important;
  font-weight: 600 !important;
}

.ant-menu-item:hover:not(.ant-menu-item-selected) {
  background-color: rgba(180, 180, 180, 0.2) !important;
}

.ant-menu-item-selected {
  background-color: rgba(180, 180, 180, 0.5) !important;
  color: black !important;
}

.layout__right-header__item {
  display: flex;
  align-items: center;
  margin-left: 12px;
  overflow: hidden;
  position: "relative";
}

.layout__right-header__item-icon {
  padding: 8px;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.layout__right-header__item-icon:hover {
  background-color: rgba(180, 180, 180, 0.2);
  border-radius: 999px;
}

.layout__right-header__menu {
  width: 120px;
  position: absolute;
  background-color: white;
  top: 56px;
  right: 20px;
  box-shadow: 0 2px 3px 1px rgba(180, 180, 180, 0.6),
    3px 3px 2px 1px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  overflow: hidden;
}

.layout__right-header__menu-item {
  padding: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.layout__right-header__menu-item:hover {
  background-color: rgba(180, 180, 180, 0.1);
}

.layout__right-header__menu-item__icon {
  font-size: 24px;
  color: #000000;
}

.layout__right-header__menu-item__title {
  font-weight: 600;
  margin-left: 8px;
  font-size: 14px;
  color: #000000;
}
